<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/ibatis_db</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		<property name="maxActive">
			<value>10</value>
		</property>
		<property name="maxWait">
			<value>30000</value>
		</property>
		<property name="maxIdle">
			<value>1</value>
		</property>
		<property name="minIdle">
			<value>1</value>
		</property>
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	    <property name="configLocation"><value>sql-map-config.xml</value></property>
	    <property name="dataSource"><ref bean="dataSource"/></property>
	</bean>

	<bean id="docDao" class="com.beifeng.sooba.db.DocRecordDaoImpl">
	    <property name="sqlMapClient"><ref local="sqlMapClient" /></property>
	</bean>

   	<bean id="adminDao" class="com.beifeng.sooba.db.admin.AdminDaoImpl">
	    <property name="sqlMapClient"><ref local="sqlMapClient" /></property>
	</bean>


</beans>